@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");

:root {
    --primary-color: rgb(236, 236, 236);
    --secondary-color: #a4d6fe;
    /* FONTS */
    --main-font: "Montserrat", sans-serif;
    --logo-font: "Mochiy Pop P One", sans-serif;

    /* WIDTH */
    --header-height: 50px;
}
