<section class="greeting center">
    <h1 class="greeting-text">
        Learn about web programming
    </h1>
    <svg class="greeting-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#a4d6fe" fill-opacity="1" d="M0,256L120,266.7C240,277,480,299,720,266.7C960,235,1200,149,1320,106.7L1440,64L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
</section>
<section class="howto-intro">
    <div class="howto-intro__left">
        <div class="howto-intro__card flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front"></div>
                <div class="flip-card-back">
                    <p>You need to use html and some css to create this card.</p>
                    <p>If you want to know how to create the card like this, click below button</p>
                    <a href="#!" style="color: white;background-color: #0988d1;font-size: 50px; padding: 0 10px;border-radius: 5px;display: block;width: fit-content; margin: 20px auto;">&RightArrow;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="howto-intro__right">
        <p class="howto-intro__text">Hover over the side card to see what happens. You are looking for new things. You can find even more interesting things from our collection</p>

        <a href="/howto" class="howto-intro__link">See more</a>
    </div>
</section>
<section class="community-intro">
    <h1 class="community-intro__title">Join the <span style="color:rgb(19, 197, 19)">community</span> to receive <span style="color:orange">benefits</span> </h1>
    <div class="community-intro__card">
        <h2 class="circle-card__title">Experience</h2>
        <p> from others</p>
        <div class="circle-card circle-card-left">
            <h2 class="circle-card__title">Build</h2>
            <p> a more developed community</p>
        </div>
        <div class="circle-card circle-card-right">
            <h2 class="circle-card__title">Share</h2>
            <p>your knowledge</p>
        </div>
    </div>
    <svg class="community-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100">
        <path fill="#ffd297" fill-opacity="1" d="M0,96L80,85.3C160,75,320,53,480,58.7C640,64,800,96,960,90.7C1120,85,1280,43,1360,21.3L1440,0L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
    </svg>
</section>
<section class="live-coding-intro center">
    <div class="live-coding__text">
        <h1>Hover over the side card to see what happens. You can find even more interesting things from our collection</h1>
    </div>
    <div class="live-coding__code-typing">
        <div class="code-content__line">
            <p class="code-content" data-code-line=0 style="--line:0">1 <span class="clr-yl">.card {</span></p>
        </div>
        <div class="code-content__line">
            <p class="code-content" data-code-line=1 style="--line:1">2 &nbsp;&nbsp;&nbsp;&nbsp;<span class="clr-gr">position</span><span>: </span><span class="clr-re">relative</span>;</p>
        </div>
        <div class="code-content__line">
            <p class="code-content" data-code-line=2 style="--line:2">3 &nbsp;&nbsp;&nbsp;&nbsp;<span class="clr-gr">width</span><span>: </span><span class="clr-re">200px</span>;</p>
        </div>
        <div class="code-content__line">
            <p class="code-content" data-code-line=3 style="--line:3">4 &nbsp;&nbsp;&nbsp;&nbsp;<span class="clr-gr">height</span><span>: </span><span class="clr-re">300px</span>;</p>
        </div>
        <div class="code-content__line">
            <p class="code-content" data-code-line=4 style="--line:4">5 &nbsp;&nbsp;&nbsp;&nbsp;<span class="clr-gr">border</span><span>: </span><span class="clr-re">1px solid green</span>;</p>
        </div>
        <div class="code-content__line">
            <p class="code-content" data-code-line=5 style="--line:5">6 &nbsp;&nbsp;&nbsp;&nbsp;<span class="clr-gr">background-color</span><span>: </span> <span class="clr-re">lightblue</span>;</p>
        </div>
        <div class="code-content__line">
            <p class="code-content" data-code-line=6 style="--line:6">7 &nbsp;&nbsp;&nbsp;&nbsp;<span class="clr-gr">tranform</span><span>: </span><span class="clr-re">translateX(200px)</span>;</p>
        </div>
        <div class="code-content__line">
            <p class="code-content" data-code-line=7 style="--line:7">8 &nbsp;&nbsp;&nbsp;&nbsp;<span class="clr-gr">color</span><span>: </span><span class="clr-re">white</span>;</p>
        </div>
        <div class="code-content__line">
            <p class="code-content" data-code-line=8 style="--line:8">9 <span class="clr-yl">}</span></p>
        </div>
    </div>
</section>